section.configuration {
  background: $blue-900;
  color: $black-000;
  padding: 4rem 0;

  .conf-blob {
    display: none;
  }

  h1 {
    color: $blue-500;
    font-size: 3em;
  }

  pre,
  .code {
    color: $orange-400;
  }
}

@media only screen and (min-width: 800px) {
  section.configuration {
    position: relative;
    overflow: hidden;
    z-index: 0;
    .container {
      display: flex;
      gap: 3.5rem;
      @include container-position;

      .docs {
        max-width: 30ch;
      }
    }

    .conf-blob {
      display: block;
      position: absolute;
      top: 0;
      right: -5;
      z-index: -1;
    }

    img {
      display: block;
      justify-self: flex-end;
    }
  }
}
