section.install {
  @include container-position;
  margin-top: 4rem;
  margin-bottom: 4rem;

  color: $blue-500;

  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.1rem;

    a {
      font-size: 2.25rem;
      text-decoration: none;

      &:before {
        content: ">";
        color: $orange-300;
        font-size: 2rem;
        text-align: center;
        padding-right: 0.5rem;
        margin-left: -1em;
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover:before {
        opacity: 1;
      }
    }

    .label {
      text-transform: uppercase;
      color: $orange-300;
      font-size: 1.25rem;
      letter-spacing: 0.2rem;
    }
  }
}
