$blue-500: #4b30f0;
$blue-900: #eae8fa;
$black-000: #000000;
$white-900: #ffffff;
$orange-500: #f0af30;
$orange-300: #715217;
$orange-400: #dd9304;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  color: $white-900;
  font-size: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif; // Poppins
  font-weight: 400;
}

section,
header,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

pre,
.code {
  font-family: "Space Mono", "Courier New", Courier, monospace; // TODO Space Mono
  color: $orange-500;
  font-size: 1.25rem;
}
@mixin container-position {
  width: 80%;
  margin: 0 auto;
}

@import "hero";
@import "install";
@import "configuration";

section.footer {
  background: $blue-500;

  footer {
    @include container-position;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;

    svg {
      height: 100%;
      fill: $blue-900;
    }

    .social {
      display: flex;
      gap: 1.5rem;

      a {
        display: block;
      }

      margin-right: 2.5rem;
    }
  }

  a {
    color: $orange-500;

    &:hover {
      color: $orange-400;
    }

    &:visited {
      color: $orange-400;
    }
  }
}
